[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
statsmodels = "*"
scikit-learn = "*"
joblib = "*"
xgboost = "*"
shap = "*"
colorlover = "*"
pythonnet = "*"

[dev-packages]
bandit = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
